@font-face {
  font-family: "nos";
  src: url("source/font/Amarillo.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  color: black;
}

#navbar {
  position: fixed;
  background: linear-gradient(180deg, #f7f7f7, #ffffff);
  height: 7rem;
  text-wrap: nowrap;
  padding: 0px;
}

#navbar .container-fluid {
  height: 5rem;
}

#topInfoBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 2rem;
  width: 100%;
  padding: 12px 0px;
}

#logoContainer {
  position: relative;
  left: 0;
  top: 25px;
}

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#leftHomeContainer {
  width: 60%;
  position: relative;
}

#homeBackground img:nth-of-type(1) {
  transform: translate(0px, 210px);
}


#homeBackground img:nth-of-type(2) {
  transform: scale(-1, -1) translate(-0px, 150px);
}

.title h1 {
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: white;
  text-shadow: 3px 3px 6px #515151;
}

.title h1 span {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 2px;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 20px;
  align-items: center;
}

.title h1 span:after,
.title h1 span:before,
.title > div {
  content: " ";
  display: block;
  height: 5px;
  background: linear-gradient(
    54deg,
    rgba(206, 0, 0, 0.94),
    rgba(255, 85, 0, 0.94)
  );
  box-shadow: 4px 2px 7px rgba(43, 43, 43, 0.937);
  border-radius: 30px;
}

#numbersButton {
  background-color: rgba(205, 0, 0, 0.797);
  color: white;
}

.homeText {
  color: rgba(206, 206, 206, 0.868);
  text-shadow: 3px 3px 6px #515151;
  font-family: "nos";
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.gallery-item {
  position: relative;
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  object-fit: cover;
  border: solid 2px rgba(122, 0, 0, 0.9);
}

.gallery-item > img {
  height: 100%;
}
