<section
  th:fragment="history"
  id="history-section"
  class="d-flex justify-content-center text-light pb-4"
  style="background-color: rgba(12, 12, 12, 0.97)"
>
  <div
    class="rounded bg-dark w-75 h-75 d-flex gap-3 justify-content-around align-items-start pt-4 px-4"
  >
    <div>
      <div class="title">
        <h3 class="">historia</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, culpa
        odit? Architecto assumenda facere, inventore amet consectetur
        perspiciatis dicta laborum aliquam! Distinctio reprehenderit
        perspiciatis ex porro similique, delectus tenetur eveniet?Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Fugiat, culpa odit?
        Architecto assumenda facere, inventore amet consectetur perspiciatis
        dicta laborum aliquam! Distinctio reprehenderit perspiciatis ex porro
        similique, delectus tenetur eveniet?Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Fugiat, culpa odit? Architecto assumenda
        facere, inventore amet consectetur perspiciatis dicta laborum aliquam!
        Distinctio reprehenderit perspiciatis ex porro similique, delectus
        tenetur eveniet?
      </p>
    </div>
    <div class="vr border border-1 border-warning my-5 rounded"></div>
    <div class="pt-5">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, culpa
        odit? Architecto assumenda facere, inventore amet consectetur
        perspiciatis dicta laborum aliquam! Distinctio reprehenderit
        perspiciatis ex porro similique, delectus tenetur eveniet?
      </p>
    </div>
  </div>
</section>
