<nav
  th:fragment="navbar"
  id="navbar"
  class="navbar navbar-expand-lg fixed-top flex-column"
>
  <div id="topInfoBar">
    <span> 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 |</span>
    <span>| 03491 - 42000 </span>
  </div>
  <div class="container-fluid">
    <div
      id="logoContainer"
      class="position-relative d-flex gap-2 justify-content-center align-items-center"
    >
      <img src="source/image/logo.png" alt="Logo" width="110px" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav d-flex justify-content-center gap-5 me-auto mb-2 mb-lg-0 flex-grow-1"
      >
        <li class="nav-item">
          <a href="#home-section" class="scroll-to-middle">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#gallery-section" class="scroll-to-middle">Galeria</a>
        </li>
        <li class="nav-item">
          <a href="#news-section" class="scroll-to-middle">Noticias</a>
        </li>
        <li class="nav-item">
          <a href="#history-section" class="scroll-to-middle">Historia</a>
        </li>
        <li class="nav-item">
          <a href="#weather-section" class="scroll-to-middle">Clima</a>
        </li>
        <li class="nav-item">
          <a href="#contact-section" class="scroll-to-middle">Contactos</a>
        </li>
      </ul>
      <button class="btn btn-outline-secondary">Colaboraciones</button>
    </div>
  </div>
</nav>
