<section
  th:fragment="news"
  class="d-flex ps-4 pe-5 pb-5 text-light d-flex flex-column text-center"
  id="news-section"
  style="background-color: rgba(12, 12, 12, 0.97)"
>
  <div class="title">
    <h3 class="">NOTICIAS</h3>
  </div>
  <div th:if="${publications != null}" class="row row-cols-1 row-cols-md-3 g-2">
    <div class="col" th:each="publication : ${publications}">
      <div class="card">
        <img
          th:src="'data:image/png;base64,' + ${publication.image}"
          alt="Publication Image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 th:text="${publication.title}" class="card-title"></h5>
          <span th:text="${publication.subtitle}"></span>
          <span th:text="${publication.category}"></span>
          <p th:text="${publication.text}" class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</section>
