<section th:fragment="weather" id="weather-section">
  <div
    class="d-flex flex-column gap-4 justify-content-center align-items-center w-100"
  >
    <div class="container rounded-3 w-75">
      <div class="row gap-3 justify-content-center align-items-center">
        <div class="col-5 title">
          <h3 class="fs-1">Informe Meteorologico</h3>
        </div>
        <div
          id="current-weather"
          class="col d-flex justify-content-between align-items-center rounded-3 p-3 text-light fw-bold"
        ></div>
      </div>
      <div
        id="extended-weather-container"
        class="row gap-2 py-2 text-light fw-bold"
      >
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
        <div class="extended-weather-items rounded-1 row m-0"></div>
      </div>
    </div>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link">Previous</button>
      </li>
      <li class="page-item"><button class="page-link">1</button></li>
      <li class="page-item"><button class="page-link">2</button></li>
      <li class="page-item"><button class="page-link">3</button></li>
      <li class="page-item"><button class="page-link">4</button></li>
      <li class="page-item"><button class="page-link">5</button></li>
      <li class="page-item">
        <button class="page-link">Next</button>
      </li>
    </ul>
  </div>
</section>
